@{
    ViewData["Title"] = "Willkommen";
}
@using Microsoft.AspNetCore.Identity

<div class="d-flex align-items-center justify-content-center bg-dark text-light min-vh-100">
    <div class="text-center rounded p-4" style="background-color: #212529;  width: 100%;">
        <h1 class="display-4 mb-4">Willkommen zur Lagerverwaltung</h1>
        <p class="lead mb-4">Verwalte dein Lager effizient und modern mit Lagerverwaltung.at</p>

        
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="d-flex justify-content-center gap-3">
                <a href="/Identity/Account/Login" class="btn btn-outline-light btn-lg px-4">Jetzt einloggen</a>
                <a href="/Identity/Account/Register" class="btn btn-light btn-lg px-4">Registrieren</a>
            </div>
        }
    </div>
</div>
